.auth{
    min-height: calc(100vh - var(--nav-height));
    padding-top: 4rem;
    padding-bottom: 4rem;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        row-gap: 1rem;
    }
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 18rem;
    input{
        padding: .3rem .5rem;
        outline: none;
        border-radius: 4px;
        border: 1px solid #999;
        transition: box-shadow .5s;
        &:focus{
            border: 1px solid orange;
            box-shadow: 0 0 5px 2px orange;
            transition: box-shadow .5s;
        }
    }
    label{
        margin-bottom: .3rem;
    }

    button{
        align-self: flex-end;
        padding: 5px 14px;
        outline: none;
        border: 1px solid orange;
        border-radius: 4px;
        background-color: transparent;
        transition: all .4s linear;
        &:hover{
            background-color: orange;
            transition: all .4s linear;
            color: #fff;
        }
    }
}

.form-header{
    font-size: var(--biggest-font-size);
    font-weight: 500;
    border-bottom: 1px solid #999;
    text-align: center;
    padding-bottom: .5rem;
}

.form-link{
    display: inline;
    text-align: center;
    a{
        color: rgb(40, 145, 186);
    }
    padding-top: .5rem;
    border-top: 1px solid #999;
}

.error-message{
    color: orange;
    font-size: var(--smaller-font-size);
    margin: 0;
}
.response-error{
    color: #ff0000;
}

@media screen and (max-width: 400px) {
    .auth{
        padding-top: 2rem;
    }
    .form-item{
        width: 90%;
    }
    .form-header{
        font-size: var(--big-font-size);
    }
    .form-item{
        label, input, button{
            font-size: var(--small-font-size);
        }
    }
    .form-link{
        font-size: var(--small-font-size);
    }

}