.product__detail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 1rem;
    padding-bottom: 8rem;
    .thumbs-wrapper{
        margin: 5px 0 0 0;
    }
    .description-images{
        width: 500px;
        
        .slider-wrapper{
            .selected{
                border: var(--box-border-color);
                
            }
            .slider{
                li{
                    div{
                        height: 100%;
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
    }
    .thumbs{
        margin: 0;
        .thumb{
            height: 121px!important;
            display: inline-flex;
            img{
                object-fit: contain;
            }
        }
        
    }
    .control-arrow{
        background-color: #000;
    }
    .carousel div ul{
        li{
            width: 121px!important;
            padding: 0;
            border: var(--box-border-color);
            
        }
    }
}

.product__buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        outline: none;
        font-size: var(--small-font-size);
        padding: 5px 12px;
        border-radius: 4px;
        border: var(--box-border-color);
        &:nth-child(1){
            color: orange;
            background-color: transparent;
            &:hover{
                background-color: rgba(236, 217, 182, 0.476);
            }
        }
        &:nth-child(2){
            background-color: orange;
            color: var(--bg);
            &:hover{
                box-shadow: 0 0 14px 2px rgba(255, 166, 0, 0.591);
            }
        }
    }
}


.product__description{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;

    .product__price{
        color: rgb(3, 167, 78);
        font-size: var(--big-font-size);
    }

    .product__table{
        margin-top: 1rem;
        caption{
            caption-side: top;
            margin-bottom: .5rem;
            font-size: var(--normal-font-size);
            color: var(--black-color);
        }
        tr{
            border-bottom: var(--box-border-color);
            &:hover{
                background-color: rgba(255, 166, 0, 0.68);
            }
        }
        td{
            padding: 10px 5px;
            
        }
    }

    .product__title{
        font-size: var(--normal-font-size);
        color: var(--black-color);
        font-weight: 600;
        padding: 0;
        word-wrap: break-word;
    }
}


@media screen and (max-width: 960px) {
    .product__detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .description-images{
        width: 100%!important;
        .carousel div ul{
            li{
                width: 23.8%!important;
            }
        }
    }
    .product__description{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}