.old__orders{
    padding-top: 2rem;
}

.old__order{
    span{
        margin-left: 1rem;
        color: var(--green-color);
    }
}

.order-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div{
        color: var(--green-color);
    }
    a:hover{
        color: orange;
    }
}