.profile__details{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--black-color);
    span{
        margin-left: .5rem;
        font-weight: 400;
        font-size: var(--small-font-size);
    }
}