.items-category{
    display: flex;
    flex-direction: column;
    color: var(--h-color);
    .passive{
        display: none;
    }
    span{
        color: var(--h-color);
    }
}
.dropdown{
    padding: 5px 10px;
    cursor: pointer;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .3rem;
    i{
        font-size: 14px;
        font-weight: 600;
    }
    border: var(--box-border-color);
}
.dropdown__items{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 13rem;
    a{
        padding: 5px 10px;
        display: flex;
        align-items: center;
        column-gap: .2rem;
        img{
            width: 27px;
        }

        &:hover{
            background-color: rgb(153, 153, 153, .2);
        }
    }
    .Watch{
        img{
            width: 18px;
        }
    }
}

.filter-btn{
    outline: none;
    border: 1px solid orange;
    background-color: var(--white-color);
    width: 8rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .3rem;
    i{
        font-size: .8rem;
    }
    display: none;
}


.close-filter-model{
    display: none;
}


@media screen and(max-width: 800px) {
    .items-category{
        display: none;
    }
    .filter-btn{
        display: block;
    }

    .on-model{
        position: fixed;
        width: 100%;
        min-height: 100%;
        background-color: var(--bg);
        top: 0;
        left: 0;
        z-index: 9999;
    
        .filter-btn{
            display: none;
        }
        .close-filter-model{
            display: block;
            position: absolute;
            right: 5%;
            top: 4%;
        }
        .items-category{
            display: flex;
            position: relative;
            align-items: center;
            top: 10rem;
        }
    }
    
}