#slider{
    width: 100%;
    height: auto;
}

.slider__container{
    width: 100%;
    height: calc(100vh - var(--nav-height));
}

.slider__img{
    height: calc(100vh - var(--nav-height));
    object-fit: contain;
}

.carousel-indicators button{
    background-color: orange!important;
}

@media screen and (max-width: 1250px) {
    .slider__container, .slider__img{
        height: calc(80vh - var(--nav-height));
    }
}

@media screen and (max-width: 950px) {
    .slider__container, .slider__img{
        height: calc(60vh - var(--nav-height));
    }
}

@media screen and (max-width: 700px) {
    .slider__container, .slider__img{
        height: calc(46vh - var(--nav-height));
    }
}

@media screen and (max-width: 550px) {
    .slider__container, .slider__img{
        height: calc(30vh - var(--nav-height));
    }
}
