:root{
    --nav-height: 3.9rem;

    /*      COLORS      */
    --white-color: #fff;
    --text-color: #666;
    --bg: #fafafa;
    --border-color: #ddd8d8;
    --h-color: #000;
    --box-border-color: 1px solid rgb(153, 153, 153, .5);
    --box-shadow: 0 0 14px 2px rgb(153, 153, 153, .5);
    --black-color: #000;
    --green-color: #03A74E;

    /*      FONT SIZE       */
    --biggest-font-size: 1.75rem;
    --big-font-size: 1.5rem;
    --normal-font-size: 1.25rem;
    --m-font-size: 1.15rem;
    --small-font-size: 1rem;
    --smaller-font-size: .85rem;
    --logo-font-size: 2.5rem;
    --theme-icon: 2rem;

    @media screen and (max-width: 900px) {
        --nav-height: 3.7rem;
        --biggest-font-size: 1.5rem;
        --big-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .85rem;
        --smaller-font-size: .75rem;
        --logo-font-size: 2.2rem;
        --theme-icon: 1.75rem;
    }
}